.container {
  align-items: center;
  flex: 1;
  width: 800px;
  height: 500px;
  align-items: center;
  max-width: 80%;
  background-color: bisque;
  border-radius: 5px;
  padding-top: 30px;
  box-shadow: 0 0 5px 2px;
  margin: center;
  border-color: aliceblue;
}
body {
  flex: 1;
  align-items: center;
}
.styled-select {
  align-items: center;
  padding-top: 20px;
}
h1 {
  font-family: sans-serif;
  color: green;
}
h2 {
  color: blueviolet;
}
button {
  border-radius: 5px;
  background-color: lightblue;
  border-color: aliceblue;
}
input[type="text"] {
  height: 20px;
  border-radius: 5px;
  border: #666 1px solid;
}
