.col {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

.cardheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}

.cardcontainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    font-size: 15px;
    text-align: center;
    /*margin-top :45px;*/
}

#card {
    height: 250px;
    width: 100%;
    margin-top: 50px;
    padding: 5px;
}

.card-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    width: 350px;
    margin-bottom: 50px;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
}

.container {
    padding: 2px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.container p {
    margin: 0;
}

.head {
    padding: 2px 16px;
    background-color: #EB4D4B;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}